.description-selector-content {
  background: #e9e0d6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  margin: auto;
  top: 90px;
  width: 98%;
  left: 1%;
}
.description-selector-overlay {
  opacity:    0.5;
  background: #000;
  width:      100%;
  height:     100%;
  top:        0;
  left:       0;
  position:   fixed;
}
