.sidebar-hidden {
  margin-left: -500px;
}
.sidebar {
  background: #3d3936;
  color: #e9e0d6;
  width: 500px;
  text-align: center;
}
.sidebar .nav-bar-title {
  margin-left: 25px;
}
.descriptions-container {
  margin-top: 10px;
  padding-bottom: 10px;
}
.description-container {
  border-radius: 10px;
  border: 2px solid #000;
  width: 95%;
  margin: 0 auto;
  padding-top: 5px;
  height: 110px;
  margin-bottom: 5px;
}
.description-name {
  font-size: 25px;
  float: left;
  margin-left: 30px;
}
.description-date {
  float: left;
  margin-left: 30px;
}
.description-ip {
  float: left;
  margin-left: 50px;
}
.compare-button {
  float: right;
  margin-right: 5px;
}
.show-button {
  float: right;
  margin-right: 21px;
}
.icon {
  color: #E6AB5B;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}
.at-icon {
  font-size: 17px;
}
