.sidebar-hidden {
  margin-left: -500px;
}
.sidebar {
  background: #3d3936;
  color: #e9e0d6;
  width: 500px;
  text-align: center;
}
.description-container {
  border-radius: 10px;
  border: 2px solid #000;
  width: 95%;
  margin: 0 auto;
  padding-top: 5px;
}
.description-name {
  font-size: 25px;
  float: left;
  margin-left: 30px;
}
.compare-button {
  float: right;
  margin-right: 5px;
}
.show-button {
  float: right;
  margin-right: 21px;
}
