!!!
%html
  %head
    %title
      Machinery System Descriptions
    %meta{ :charset => 'utf-8' }
    %link{ :href => "assets/machinery-base.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "assets/machinery.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "assets/homepage.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "assets/jquery-2.1.1.min.js" }
    %script{ :src => "assets/jquery.searcher.min.js" }
    %script{ :src => "assets/machinery-base.js" }
    %script{ :src => "assets/show/machinery.js" }
    %script{ :src => "assets/bootstrap-tooltip.js" }
    %script{ :src => "assets/bootstrap-popover.js" }
    %script{ :src => "assets/bootstrap-dropdown.js" }

  %body
    .container-fluid
      #description-selector-bar
        .row
          .col-lg-2.col-lg-offset-2.col-md-2
            .description-selector-overlay
            .btn-group.open
              %button.description-selector.btn.btn-default-alt.dropdown-toggle{ type: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "true" }
                .description-selector-header
                  System
                .description-selector-name
                  Select a System
                .description-selector-icon
                  %span.glyphicon.glyphicon-th-list
              .dropdown-menu.scrollable-menu
                -# = render_partial "sidebar", side: "left"
                = render_partial "landing_page"
          .col-lg-2.col-lg-offset-2.col-md-2.col-md-offset-4
            .btn-group
              %button.description-selector.btn.btn-default-alt.dropdown-toggle{ type: "button", data_toggle: "dropdown", disabled: "disabled" }
                .description-selector-header
                  System
                .description-selector-name
                  Select a system to compare
                .description-selector-icon
                  %span.glyphicon.glyphicon-th-list
              .dropdown-menu.scrollable-menu
                = render_partial "sidebar", side: "right"

