!!!
%html
  %head
    %title
      Machinery System Descriptions
    %meta{ :charset => 'utf-8' }
    %link{ :href => "assets/machinery-base.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "assets/machinery.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "assets/homepage.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "assets/jquery-2.1.1.min.js" }
    %script{ :src => "assets/jquery.searcher.min.js" }
    -# %script{ :src => "assets/machinery-base.js" }
    -# %script{ :src => "assets/show/machinery.js" }
    %script{ :src => "assets/bootstrap-tooltip.js" }
    %script{ :src => "assets/bootstrap-popover.js" }

  %body
    .sidebar
      .row
        .h1
          System Descriptions
      .row
        .filter-input.col-md-offset-1
          %input.col-md-8#filter{ :placeholder => "search" }
          %a.btn.btn-default.btn-reset{ :href => "#", :title => "Reset Filter" }
            %span Reset
      .descriptions-container
        .description-container
          .row
            %span.description-name
              System 1
            %a.btn.btn-default.show-button
              Show
            %a.btn.btn-default.compare-button
              Compare
          .row
            %span.description-date
              2015-12-01
            %span.description-ip
              10.0.0.1
          .row
            %span.nav-bar-title
              - scopes = ["os", "packages", "patterns", "repositories", "users", "groups",
                 "services", "changed_config_files", "changed_managed_files", "unmanaged_files"]
              - scopes.each do |scope|
                %a.btn.btn-default.btn-sm{ :href => "##{scope}", :title => scope_title(scope),
                  "data-toggle"=>"popover", "data-content" => scope_help(scope),
                  :class => nav_class(scope) }
                  %span= scope_initials(scope)


    .container-fluid
      Welcome to Machinery

