!!!
%html
  %head
    %title
      Machinery System Descriptions
    %meta{ :charset => 'utf-8' }
    %link{ :href => "assets/machinery-base.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "assets/machinery.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "assets/homepage.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "assets/jquery-2.1.1.min.js" }
    %script{ :src => "assets/jquery.searcher.min.js" }
    %script{ :src => "assets/machinery-base.js" }
    -# %script{ :src => "assets/show/machinery.js" }
    %script{ :src => "assets/bootstrap-tooltip.js" }
    %script{ :src => "assets/bootstrap-popover.js" }

  %body
    .hamburger-menu-container
      %span.glyphicon.glyphicon-menu-hamburger
    .sidebar
      = render_partial "sidebar"

    .container-fluid
      .welcome
        %h1
          Welcome to Machinery
        %h2
          Information
        .row
          .col-sm-6.col-md-4
            .thumbnail
              .caption
                %h3 Documentation
                %p
                  The best place to learn how to use machinery is our documentation.
                %p
                  %a.btn.btn-default{ href: "/site/docs/", role: "button" }
                    Learn More
          .col-sm-6.col-md-4
            .thumbnail
              .caption
                %h3 Open Source
                %p
                  Machinery's code base is open sourced and shared via github.com.
                %p
                  %a.btn.btn-default{ href: "https://github.com/SUSE/machinery", role: "button" }
                    Learn More
          .col-sm-6.col-md-4
            .thumbnail
              .caption
                %h3 Official Website
                %p
                  What is machinery? Visit our official website.
                %p
                  %a.btn.btn-default{ href: "http://machinery-project.org/", role: "button" }
                    Learn More
        %h2
          Stats
        .row
          .col-sm-6.col-md-4
            .thumbnail
              .caption
                %h3 System Descriptions
                %p
                  You have inspected a total of
                  = @all_descriptions.count
                  system descriptions. And they are using XX M of space in your system.
          - last_inspection = @all_descriptions.sort{ |x, y| x.last["date"] <=> y.last["date"]}.last
          - if last_inspection
            .col-sm-6.col-md-4
              .thumbnail
                .caption
                  %h3 Last Inspection
                  %p
                    Your last inspected system is
                    = last_inspection[0]
                    on
                    = last_inspection[1]["date"]
                    \.
